.container-skills {
  background-color: #cccbcb;
  width: 100%;
  height: 130px;
  margin-bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-skills a {
  text-decoration: none;
}
#title-skills {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

#skill-size-html {
  width: 120px;
  height: 120px;
  -webkit-filter: drop-shadow(0px 4px 4px #222);
  filter: drop-shadow(0px 5px 5px #222);
  margin-right: 15px;
  transition: all 0.1s linear;
}
#skill-size-html:hover {
  width: 125px;
  height: 125px;
  transition: all 0.1s linear;
  -webkit-filter: drop-shadow(0px 8px 8px #ff8a38);
  filter: drop-shadow(0px 8px 8px #c05101);
  margin-right: 15px;
}

#skill-size-css {
  width: 120px;
  height: 120px;
  -webkit-filter: drop-shadow(0px 4px 4px #222);
  filter: drop-shadow(0px 5px 5px #222);
  margin-right: 15px;
  transition: all 0.1s linear;
}
#skill-size-css:hover {
  width: 125px;
  height: 125px;
  transition: all 0.1s linear;
  -webkit-filter: drop-shadow(0px 8px 8px #0277bd);
  filter: drop-shadow(0px 8px 8px #0277bd);
  margin-right: 15px;
}

#skill-size-js {
  width: 120px;
  height: 120px;
  -webkit-filter: drop-shadow(0px 4px 4px #222);
  filter: drop-shadow(0px 5px 5px #222);
  margin-right: 15px;
}
#skill-size-js:hover {
  width: 125px;
  height: 125px;
  transition: all 0.1s linear;
  -webkit-filter: drop-shadow(0px 8px 8px #222);
  filter: drop-shadow(0px 8px 8px #a59415);
  margin-right: 15px;
}

#skill-size-react {
  width: 120px;
  height: 120px;
  -webkit-filter: drop-shadow(0px 4px 4px #222);
  filter: drop-shadow(0px 5px 5px #222);
  margin-right: 15px;
}
#skill-size-react:hover {
  width: 125px;
  height: 125px;
  transition: all 0.1s linear;
  -webkit-filter: drop-shadow(0px 8px 8px #222);
  filter: drop-shadow(0px 8px 8px #37b7cc);
  margin-right: 15px;
}

#skill-size-tailwind {
  width: 120px;
  height: 120px;
  -webkit-filter: drop-shadow(0px 4px 4px #222);
  filter: drop-shadow(0px 5px 5px #222);
  margin-right: 15px;
}
#skill-size-tailwind:hover {
  width: 125px;
  height: 125px;
  transition: all 0.1s linear;
  -webkit-filter: drop-shadow(0px 8px 8px #222);
  filter: drop-shadow(0px 8px 8px #00b9d7);
  margin-right: 15px;
}
#skill-size-typescript {
  width: 120px;
  height: 120px;
  -webkit-filter: drop-shadow(0px 4px 4px #222);
  filter: drop-shadow(0px 5px 5px #222);
  margin-right: 15px;
}
#skill-size-typescript:hover {
  width: 125px;
  height: 125px;
  transition: all 0.1s linear;
  -webkit-filter: drop-shadow(0px 8px 8px #222);
  filter: drop-shadow(0px 8px 8px #1980c4);
  margin-right: 15px;
}

.container-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 60px;
}
.line {
  width: 70px;
  height: 3px;
  background-color: black;
}
.oline {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-right: 8px;
}
